{% extends 'base.html' %}
{% block title %}Categorys{% endblock %}
{% block header %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link" aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/all_articles/" class="nav-link">Все статьи</a></li>
    <li class="nav-item"><a href="/category/" class="nav-link active">Категории</a></li>
    <li class="nav-item"><a href="/search/" class="nav-link">Поиск</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="container">
    {% for category in categorys %}
        <h1>{{ forloop.counter }} - <a href="{{ category.name.lower }}">{{ category.name }}</a></h1>
    {% endfor %}
</div>
{% endblock %}