{% extends 'base.html' %}
{% block title %}Blog{% endblock %}
{% block header %}
<ul class="nav nav-pills">
    <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
    <li class="nav-item"><a href="/all_articles/" class="nav-link">Все статьи</a></li>
    <li class="nav-item"><a href="/category/" class="nav-link">Категории</a></li>
    <li class="nav-item"><a href="/search/" class="nav-link">Поиск</a></li>
</ul>
{% endblock %}
{% block content %}
<div class="container">
    {% for article in articles %}
    <h1><a href="/article/{{ article.id }}" style="text-decoration: none; color: #212529;">{{ article.title }}</a></h1>
    <a href="/article/{{ article.id }}"><img src="{{ article.image.url }}" alt="" style="width: 450px; height: 250px; ""></a>
    <p>{{ article.shorten_text }}</p>
    {% endfor %}
</div>
<nav>
    <ul class="pagination justify-content-center">
    {% if articles.has_previous %}
        <li class="page-item">
            <a class="page-link" href="/?page={{ articles.previous_page_number }}" tabindex="-1">Previous</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
    {% endif %}
    {% if articles.has_next %}
        <li class="page-item">
            <a class="page-link" href="/?page={{ articles.next_page_number }}">Next</a>
        </li>
    {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
    {% endif %}
    </ul>
  </nav>

{% endblock %}